
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #f2727f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, green, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: white;
}

.card{
    background: #242628;
    width: 300px;
    height: 390px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

.card_img{
    width: 200px;
    height: 200px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin:  0 auto;
    transform: translateY(15px);
    transition: 0.5s;
}
.card_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    
}
.card h2{
    margin-top: 16px;
}

.card p {
    color: var(--primary-color);
    margin: 8px 0;
}

.card_social a{
    margin: 20px 20px;
}
.card_social a:hover{
    opacity: 0.7;
}
.card a button{
    font-size: 12px;
    color: white;
    margin-top: 16px;
    padding: 10px 40px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.card button:hover{
    background: var(--primary-color);
    transform: scale(1.2);
}


.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}

.card a{
   cursor: pointer;
}
